@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

:root {
    --black: #232628;
    --yellow: #FAB637;
    --red: #FF4848;
    --orange: #CC6119;
    --tGray: rgba(242, 242, 242, 0.8);
    --gray: #ECEFF3;
    --white: #FFFFFF;
    --blue: #6C98E1;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
.bold {
    font-weight: 700;
}
#pageContent img, #pageContentDetails img, #pageContentVL img {
    max-width: 100%;
    height: auto;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
#mainHeader, #mainFooter, #mainHeaderContact {
    background-color: var(--black);
}/*<---------------------------------------------------------------------Ici commence le #mainHeader*/
#mainHeaderContact #h1Contact {
    display: block;
    font-size: 2.5em;
}
#mainHeaderContact {
    height: 180px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
#mainHeader {
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#mainHeaderContact #telephone {
    left: 10px;
    top: 100px;
}
#telephone, #adresse{
    display: flex;
    align-items: center;
}
#telephone {
    position: absolute;
    top: 90px;
    left: 28px;
}
.alignLeft {
    margin: 0;
}
#logoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#facebook {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}
#twitter {
    width: 40px;
    height: 40px;
    margin:0 0 0 10px;
}
#imgAdresse, #imgTelephone {
    width: 40px;
    height: 40px;
}
#mainHeader h1, #mainHeaderContact h1 {
    color: #FFFFFF;
    font-size: 1.4rem;
    min-width: 200px;
    padding-left: 10px;
}
#mainHeader h2, #mainHeaderContact h2 {
    color: #CC6119;
    font-size: 0.8em;
    margin: 5px;
}
.mainHeader {
    display: none;
}
#menuToggle {
    background-color: transparent;
    border: none;
}
#imgHamburger {
    width: 80px;
    height: 70px;
}
#mainNav {
    width: 100%;
    top: 0px;
    background-color: var(--tGray);
    display: none;
}
#mainNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    margin: 0;
}
.hoverMenu {
    background-color: #CC6119;
}
#mainNav a {
    font-size: 0.8rem;
    font-weight: 700;
    color: #232628;
    display: block;
    padding: 20px 2vw;
}
#mainNav a:hover {
    color: #FFFFFF;
    background-color: #CC6119;
}/*<-----------------------------------Ici se termine le #mainHeader et commence le #pageContentContact*/
/*<------------------------------------------Ici commance le #pageContentIndex*/
#imageBack {
    background-image: url(/images/vehicule1.jpg);
    background-size: 100%;
    background-position: center;
    height: 550px;
    background-repeat: no-repeat;
    display: none;
}
#image1 {
    display: block;
    width: 100%;
}
#text1 > h2 {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 700;
    background-color: #232628;
    padding: 2em 0em 1em 0.5em;
    margin: 0;
}
#container2 {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 10%;
}
#h2Text3 {
    padding-bottom: 1em;
    border-bottom: 1.5px solid rgb(212, 212, 212);
}

#text2, #text3, #image3 {
    margin-top: 40px;
}
#ulCheck {
    list-style-image: url(/logo-réseaux-sociaux/check-solid.svg);
    padding: 13px;
    line-height: 2em;
}
#ulCheck li{
    padding-left: 10px;
}
#container3 {
    background-image: url(/images/vente-location.jpg);
    background-size: cover;
}
#container3 p {
    color: #FFFFFF;
}
#container3 h2 {
    font-size: 2em;
}
#container3Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text4 {
    background-color: hsla(39, 95%, 60%, 0.82);
    margin: 7% 0 2%;
}
#text5 {
    background-color: hsla(0, 100%, 64%, 0.82);
    margin: 5% 0 10%;
}
.textBlock {
    padding: 15% 30% 15% 20%;
}
#container4 {
    background-color: #232628;
    color: #FFFFFF;
    padding-bottom: 4%;
}
#container4 > h2 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 50px 10% 0;
}
#cardContainerAcceuil {
    display: grid;
    margin: 4%;
    padding-top: 40px;
    border-top: 3px solid var(--orange);
}
.cardFlex {
    display: flex;
    flex-direction: column-reverse;
    margin: 15px 0 5%;
    background-color: #3a3d41;
    padding: 5% 5% 3%;
}
.priceButtonAcceuil {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #6C98E1;
    border: none;
    padding: 15px 20px 15px 10px;
    margin-left: 5%;
}
.titleAcceuil {
    padding-bottom: 1.2em;
    border-bottom: 1px solid #989898;
}
#cardAcceuil2, #cardAcceuil3 {
    display: none;
}

#container5 > h2 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin: 70px 0 100px;
}
#container5Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 10%;
}
.pourquoiChoisir {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.container5Image {
    padding-top: 20px;
    width: 70px;
    height: 70px;
}
.container5Text {
    margin: 0 5%;
}
.container5Text h4 {
    font-size: 1.2em;
}
.container5Text p {
    font-weight: bold;
    color: #989898;
}
#hrefButtonContact {
    display: block;
    text-align: center;
    margin: 60px 0 60px;
}
#buttonContact {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #6C98E1;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
}
#container6 {
    background-image: url(/images/vehicule3.jpg);
    background-size: cover;
}
#text7Container {
    padding: 10% 0;
}
#text7 {
    background-color: hsla(39, 95%, 60%, 0.82);
    padding: 50px 50px;
}
#text7 h4 {
    font-size: 2em;
}
#text7 p {
    font-weight: bold;
}
/*<---------------------------------------------------------------------Ici commence le #mainFooter*/
#mainFooter {
    width: 100%;
    bottom: 0;
    color: #989898;
}
#footerFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 40px 0 20px 0;
}
#mainFooter h1  {
    color: #FFFFFF;
    font-size: 1.1rem;
}
#mainFooter h2 {
    color: #FFFFFF;
    font-size: 1.1rem;
}
.imgFooter {
    width: 55px;
    height: 55px;
    margin: 4px;
}
.footer {
    margin-left: 30px;
}
#newsletterFlex {
    display: flex;
}
#emailFooter {
    width: 350px;
    height: 50px;
}
#submitFooter {
    width: 50px;
    height: 50px;
}
#logoFlex {
    display: flex;
    flex-direction: row;
}
#copy {
    text-align: center;
    padding: 20px 0 20px;
    margin: 0 5%;
    border-top: 1px solid gray;
}