@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

:root {
    --black: #232628;
    --yellow: #FAB637;
    --red: #FF4848;
    --orange: #CC6119;
    --tGray: rgba(242, 242, 242, 0.8);
    --gray: #ECEFF3;
    --white: #FFFFFF;
    --blue: #6C98E1;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
.bold {
    font-weight: 700;
}
#pageContent img, #pageContentDetails img, #pageContentVL img {
    max-width: 100%;
    height: auto;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
#mainHeader, #mainFooter, #mainHeaderContact {
    background-color: var(--black);
}/*<---------------------------------------------------------------------Ici commence le #mainHeader*/
#mainHeaderContact #h1Contact {
    display: block;
    font-size: 2.5em;
}
#mainHeaderContact {
    height: 180px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
#mainHeader {
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#mainHeaderContact #telephone {
    left: 10px;
    top: 100px;
}
#telephone, #adresse{
    display: flex;
    align-items: center;
}
#telephone {
    position: absolute;
    top: 90px;
    left: 28px;
}
.alignLeft {
    margin: 0;
}
#logoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#facebook {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}
#twitter {
    width: 40px;
    height: 40px;
    margin:0 0 0 10px;
}
#imgAdresse, #imgTelephone {
    width: 40px;
    height: 40px;
}
#mainHeader h1, #mainHeaderContact h1 {
    color: #FFFFFF;
    font-size: 1.4rem;
    min-width: 200px;
    padding-left: 10px;
}
#mainHeader h2, #mainHeaderContact h2 {
    color: #CC6119;
    font-size: 0.8em;
    margin: 5px;
}
.mainHeader {
    display: none;
}
#menuToggle {
    background-color: transparent;
    border: none;
}
#imgHamburger {
    width: 80px;
    height: 70px;
}
#mainNav {
    width: 100%;
    top: 0px;
    background-color: var(--tGray);
    display: none;
}
#mainNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    margin: 0;
}
.hoverMenu {
    background-color: #CC6119;
}
#mainNav a {
    font-size: 0.8rem;
    font-weight: 700;
    color: #232628;
    display: block;
    padding: 20px 2vw;
}
#mainNav a:hover {
    color: #FFFFFF;
    background-color: #CC6119;
}/*<-----------------------------------Ici se termine le #mainHeader et commence le #pageContentContact*/