@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

:root {
    --black: #232628;
    --yellow: #FAB637;
    --red: #FF4848;
    --orange: #CC6119;
    --tGray: rgba(242, 242, 242, 0.8);
    --gray: #ECEFF3;
    --white: #FFFFFF;
    --blue: #6C98E1;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
.bold {
    font-weight: 700;
}
#pageContent img, #pageContentDetails img, #pageContentVL img {
    max-width: 100%;
    height: auto;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
#mainHeader, #mainFooter, #mainHeaderContact {
    background-color: var(--black);
}/*<---------------------------------------------------------------------Ici commence le #mainHeader*/
#mainHeaderContact #h1Contact {
    display: block;
    font-size: 2.5em;
}
#mainHeaderContact {
    height: 180px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
#mainHeader {
    height: 100px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#mainHeaderContact #telephone {
    left: 10px;
    top: 100px;
}
#telephone, #adresse{
    display: flex;
    align-items: center;
}
#telephone {
    position: absolute;
    top: 90px;
    left: 28px;
}
.alignLeft {
    margin: 0;
}
#logoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#facebook {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}
#twitter {
    width: 40px;
    height: 40px;
    margin:0 0 0 10px;
}
#imgAdresse, #imgTelephone {
    width: 40px;
    height: 40px;
}
#mainHeader h1, #mainHeaderContact h1 {
    color: #FFFFFF;
    font-size: 1.4rem;
    min-width: 200px;
    padding-left: 10px;
}
#mainHeader h2, #mainHeaderContact h2 {
    color: #CC6119;
    font-size: 0.8em;
    margin: 5px;
}
.mainHeader {
    display: none;
}
#menuToggle {
    background-color: transparent;
    border: none;
}
#imgHamburger {
    width: 80px;
    height: 70px;
}
#mainNav {
    width: 100%;
    top: 0px;
    background-color: var(--tGray);
    display: none;
}
#mainNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    margin: 0;
}
.hoverMenu {
    background-color: #CC6119;
}
#mainNav a {
    font-size: 0.8rem;
    font-weight: 700;
    color: #232628;
    display: block;
    padding: 20px 2vw;
}
#mainNav a:hover {
    color: #FFFFFF;
    background-color: #CC6119;
}/*<-----------------------------------Ici se termine le #mainHeader et commence le #pageContentContact*/
#containerContact {
    padding: 10% 0;
    margin-bottom: 500px;
    height: 400px;
}
#pageContentContact {
    background-image: url(/images/vehicule3.jpg);
    background-size: cover;
}
#contactForm {
    background-color: white;
    margin: 0 10%;
    padding: 2% 5%;
    box-shadow: 0px 0px 20px 0px #737373;
}
#formContact {
    display: grid;
    grid-template-columns: 1fr;
}
#formContact > div > div {
    margin: 20px 0;
    border: none;
    display: flex;
    flex-direction: column;
}
#formContact label {
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
#formContact input {
    height: 40px;
    border: none;
    background-color: #e8eaf1;
    font-weight: bold;
    padding-left: 20px;
}
#formContact textarea {
    border: none;
    height: 150px;
    font-weight: bold;
    padding: 10px 0 0 20px;
    background-color: #e8eaf1;
    resize: none;
}
#formContact button {
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: #6C98E1;
    height: 50px;
    width: 150px;
    box-shadow: 0px 3px #5276af;
}
/*<------------------------------------------Ici commance le #pageContentIndex*/
#imageBack {
    background-image: url(/images/vehicule1.jpg);
    background-size: 100%;
    background-position: center;
    height: 550px;
    background-repeat: no-repeat;
    display: none;
}
#image1 {
    display: block;
    width: 100%;
}
#text1 > h2 {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 700;
    background-color: #232628;
    padding: 2em 0em 1em 0.5em;
    margin: 0;
}
#container2 {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 10%;
}
#h2Text3 {
    padding-bottom: 1em;
    border-bottom: 1.5px solid rgb(212, 212, 212);
}

#text2, #text3, #image3 {
    margin-top: 40px;
}
#ulCheck {
    list-style-image: url(/logo-réseaux-sociaux/check-solid.svg);
    padding: 13px;
    line-height: 2em;
}
#ulCheck li{
    padding-left: 10px;
}
#container3 {
    background-image: url(/images/vente-location.jpg);
    background-size: cover;
}
#container3 p {
    color: #FFFFFF;
}
#container3 h2 {
    font-size: 2em;
}
#container3Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text4 {
    background-color: hsla(39, 95%, 60%, 0.82);
    margin: 7% 0 2%;
}
#text5 {
    background-color: hsla(0, 100%, 64%, 0.82);
    margin: 5% 0 10%;
}
.textBlock {
    padding: 15% 30% 15% 20%;
}
#container4 {
    background-color: #232628;
    color: #FFFFFF;
    padding-bottom: 4%;
}
#container4 > h2 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 50px 10% 0;
}
#cardContainerAcceuil {
    display: grid;
    margin: 4%;
    padding-top: 40px;
    border-top: 3px solid var(--orange);
}
.cardFlex {
    display: flex;
    flex-direction: column-reverse;
    margin: 15px 0 5%;
    background-color: #3a3d41;
    padding: 5% 5% 3%;
}
.priceButtonAcceuil {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #6C98E1;
    border: none;
    padding: 15px 20px 15px 10px;
    margin-left: 5%;
}
.titleAcceuil {
    padding-bottom: 1.2em;
    border-bottom: 1px solid #989898;
}
#cardAcceuil2, #cardAcceuil3 {
    display: none;
}

#container5 > h2 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin: 70px 0 100px;
}
#container5Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 10%;
}
.pourquoiChoisir {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.container5Image {
    padding-top: 20px;
    width: 70px;
    height: 70px;
}
.container5Text {
    margin: 0 5%;
}
.container5Text h4 {
    font-size: 1.2em;
}
.container5Text p {
    font-weight: bold;
    color: #989898;
}
#hrefButtonContact {
    display: block;
    text-align: center;
    margin: 60px 0 60px;
}
#buttonContact {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #6C98E1;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
}
#container6 {
    background-image: url(/images/vehicule3.jpg);
    background-size: cover;
}
#text7Container {
    padding: 10% 0;
}
#text7 {
    background-color: hsla(39, 95%, 60%, 0.82);
    padding: 50px 50px;
}
#text7 h4 {
    font-size: 2em;
}
#text7 p {
    font-weight: bold;
}
/*<---------------------------------------------------Ici commence le #pageContentVL*/
#titleVL {
    background-image: url(/images/vente-location.jpg);
    background-position: center;
    background-size: 100%;
    background-color: grey;
    background-blend-mode: multiply;
 }    
 #titleVL h1 {
    font-size: 3.2em;
    color: white;
    margin: 0 0 0 10%;
    padding: 120px 0 100px;
 }
#flexVL {
    display: flex;
    flex-direction: column-reverse;
}
#rightCol {
    display: grid;
    gap: 30px;
    margin: 0 30px;
    box-shadow: 0px 0px 20px 0px #bfbfbf;
    position: relative;
    top: -40px;
}
#headerRightCol {
    display: flex;
    background-color: var(--black);
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    height: 200px;
    color: white;
    font-size: 1.8em;
}
#rightColFilter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    padding: 0 8% 40px;
}
.dropDown {
    border: none;
    background-color:#edecf0;
    height: 50px;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: bold;
}
#rightCol h5 {
    font-size: 1.8em;
    margin: 10px 0;
}
#rightColFilter button {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: #6C98E1;
    height: 60px;
    width: 100%;
    box-shadow: 0px 3px #5276af;
}
#leftCol {
    display: grid;
    gap: 50px;
    margin: 0 30px;
}
#leftCol label {
    display: none;
}
#ordre {
    border: none;
    background-color: #edecf0;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.imageVehicule {
    position: relative;
}
.prixOrdi {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #6C98E1;
    border: none;
    padding: 16px 0 0 60px;
    margin-left: 5%;
    width: 150px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: -19px;
}
.prixMobile {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #6C98E1;
    border: none;
    padding: 16px 0 0 35px;
    margin-left: 5%;
    width: 150px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: -19px;
}
.listVehicule {
    margin: 0;
    padding: 50px 0 0;
    border-top: 1px solid rgb(183, 183, 183);
}
#listVehicule {
    border-bottom: 1px solid rgb(183, 183, 183);
    padding-bottom: 40px;
    margin-bottom: 80px;
}
.listVehicule p {
    font-weight: bold;
}
/*<---------------------------------------------------Ici commence le pageContentDetails*/
#path {
    color: #b9b9b9;
    padding: 15px 0;
    margin: 0 10%;
    border-bottom: 1px solid #cacaca;
}
#detailsFlex {
    display: flex;
    flex-direction: column;
    margin: 50px 8% 50px 8%;
}
#titleDetails h2 {
    font-size: 2.5em;
}
#secondNav {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    text-align: center;
    margin: 50px 0;
    padding: 0 6px;
}
#secondNav p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#secondNavSelected {
    background-color: white;
    border-top: 6px solid #CC6119;
}
#secondNavSelected p {
    color: black;
}
#secondNav a:hover {
    background-color: white;
    border-top: 6px solid #CC6119;
}
#secondNav p:hover {
    color: black;
}
#textDetails {
    line-height: 1.5em;
}
#textBorderDetails {
    border-left: 6px solid #CC6119;
    margin: 25px 0;
    padding-left: 40px;
}
#listTextDetails {
    list-style-image: url(/logo-réseaux-sociaux/check-solid-inverse.svg);
}
#listTextDetails li {
    margin: 15px 0;
    padding-left: 30px;
}
#listTextDetails ul {
    padding: 0;
    margin: 40px 0 0 20px;
}
/*<---------------------------------------------------------------------Ici commence le #mainFooter*/
#mainFooter {
    width: 100%;
    bottom: 0;
    color: #989898;
}
#footerFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 40px 0 20px 0;
}
#mainFooter h1  {
    color: #FFFFFF;
    font-size: 1.1rem;
}
#mainFooter h2 {
    color: #FFFFFF;
    font-size: 1.1rem;
}
.imgFooter {
    width: 55px;
    height: 55px;
    margin: 4px;
}
.footer {
    margin-left: 30px;
}
#newsletterFlex {
    display: flex;
}
#emailFooter {
    width: 350px;
    height: 50px;
}
#submitFooter {
    width: 50px;
    height: 50px;
}
#logoFlex {
    display: flex;
    flex-direction: row;
}
#copy {
    text-align: center;
    padding: 20px 0 20px;
    margin: 0 5%;
    border-top: 1px solid gray;
}






@media screen and (min-width: 768px) {
    #menuToggle {
        display: none;
    }
    #mainHeaderContact #h1Contact {
        font-size: 1.4em;
        min-width: 220px;
    }
    #mainHeader {
        justify-content: space-around;
    }
    #mainHeaderContact {
        height: 100px;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .mainHeader {
        display: block;
    }
    #telephone {
        position: static;
    }
    #mainNav {
        display: block !important;
    }
    #mainNav ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    #imageBack {
        display: block;
    }
    #text1 > h2 {
        font-size: 2em;
        padding: 0.8em 0em 0.8em 4em;
    }
    #container3Flex {
        flex-direction: row;
    }
    #text4 {
        background-color: hsla(39, 95%, 60%, 0.82);
        margin:10% 1% 10% 10%;
    }
    #text5 {
        background-color: hsla(0, 100%, 64%, 0.82);
        margin:10% 10% 10% 1%;
    }
    .textBlock {
        padding: 5%;
    }
    #text7Container {
        padding: 10%;
    }
    #text7 {
        max-width: 600px;
    }
    #detailsFlex {
        margin: 50px 20% 50px 10%;
    }
    #titleVL h1 {
        padding: 50px 0 100px;
     }
} 
    
@media screen and (min-width: 1024px) {
    #mainHeader h1, #mainHeaderContact h1 {
        font-size: 2.2rem;
        margin-top: 25px;
        min-width: 200px;
    }
    #container2 {
        font-size: 1em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 40px 10% 60px;
    }
    #text2, #image2, #text3, #image3 {
        max-width: 47%;
    }
    #text2, #text3 {
        margin-top: 0;
    }
    #image2, #image3 {
        margin-top: 30px;
    }
    #image4 {
        width: 100%;
    }
    #cardContainerAcceuil {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
    #cardAcceuil2, #cardAcceuil3 {
        display: block;
    }
    .cardFlexContainer {
        background-color: #3a3d41;
        padding: 10px 20px 30px;
        margin-top: 8px;
    }
    .cardFlex {
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        padding: 0 0 5% 0;
        margin: 0;
        border-bottom: 1px solid #989898;
    }
    .hrefButton {
        width: 150px;
    }
    .priceButtonAcceuil {
        font-size: 1.2em;
        padding: 15px 15px 15px 5px;
        width: 100%;
        margin-left: 0;
    }
    #priceButtonAcceuil {
        padding: 5px 15px 10px 5px;
    }
    #cardAcceuil3 .priceButtonAcceuil::first-line {
        text-decoration-line: line-through;
        color: black;
    }
    .titleAcceuil {
        padding-bottom: 1.2em;
        border-bottom: none;
        margin-bottom: 0;
        padding-right: 10px;
        font-size: 0.9em;
    }
    #container5Grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 5%;
        gap: 30px;
    }
    #formContact {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    #containerContact {
        padding: 5% 0;
        margin-bottom: 150px;
    }
    #secondNav {
        flex-direction: row;
    }
    #flexVL {
        flex-direction: row;
    }
    #leftCol {
        gap: 30px;
    }
    #leftCol label {
        display: block;
    }
    #leftCol nav {
        display: flex;
        align-items: center;
        margin-top: 40px;
        gap: 10px;
    }
    .listVehicule {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 40px;
        padding-top: 30px;
        position: relative;
    }
    .imageVehicule {
        min-width: 150px;
    }
    .imageVehicule p {
        display: none;
    }
    .resumeVehicule {
        display: flex;
        justify-content: space-between;
    }
    .resumeVehiculeP {
        margin-top: 0;
    }
    .prixVL {
        color: #FFFFFF;
        font-size: 1.5em;
        font-weight: bold;
        background-color: #6C98E1;
        border: none;
        padding: 16px 10px 0 60px;
        margin-left: 5%;
        width: 150px;
        height: 60px;
    }
    .prixL {
        color: #FFFFFF;
        font-size: 1.5em;
        font-weight: bold;
        background-color: #6C98E1;
        border: none;
        padding: 16px 10px 0 30px;
        margin-left: 5%;
        width: 150px;
        height: 60px;
    }
    #headerRightCol {
        height: 100px;
        font-size: 1.5em;
    }
    #headerRightCol img {
        width: 50px
    }
    #rightCol {
        height: 100%;
    }
    #footerFlex {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 5% 0;
    }
    #emailFooter {
        width: 250px;
    }
    #logoFlex {
        margin-right: 5vw;
    }
    #clubAuto {
        max-width: 20vw;
    }
    .imgFooter {
        min-width: 45px;
        min-height: 45px;
    }
}

@media screen and (min-width: 1200px) {
    #container2 {
        font-size: 1.2em;
    }
    #cardContainerAcceuil {
        margin: 4% 8%;
    }
    #mainHeaderContact #h1Contact {
        font-size: 2.2em;
    }
    #containerContact {
        margin-bottom: 200px;
    }
    #flexVL {
        margin: 0 10%;
    }
}